<!-- As a link -->
<nav class="navbar navbar-expand navbar-dark">
  <a class="navbar-brand" href="#">Timeline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/Abhi5h3k">Abhi5h3k</a>
      </li>

    </ul>
  </div>
</nav>
<div style="min-height: 8em; width: 100vw;  background-color: #f74165">

</div>
