<div class="row">
    <div class="col-sm-6 ">
        <div class="card bg-light mb-3 mx-auto" id="light" style="width: 95%;">
            <div class="card-header">Light Timeline</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white  mb-3 mx-auto" id="dark" style="width: 95%;">
            <div class="card-header">Dark Timeline</div>
            <div class="card-body p-5">
                <div class="pl-5 pb-3 " style="border-left: 1px dashed #ffff;">
                    <span class="rounded-circle pt-3 pr-4 pb-3 pl-4"
                        style="background-color: #fff;  color: black; margin-left:-5.6em;margin-top: -1.3em; position: absolute;">1</span>
                    <h6 class="" style="font: 14px;" style="color: #ced4da!important;">12:55 AM</h6>
                    <h6 class="mt-4" style="font: 13px;">New title</h6>

                    <p class="card-text" style="color: #ced4da!important;">Some quick example text to build on the card
                        title and make up the bulk of the
                        card's content.</p>
                </div>
                <!--  -->
                <div class="pl-5 pb-3 " style="border-left: 1px dashed #ffff;">
                        <span class="rounded-circle pt-3 pr-4 pb-3 pl-4"
                            style="background-color: #fff;  color: black; margin-left:-5.6em;margin-top: -1.3em; position: absolute;">2</span>
                        <h6 class="" style="font: 14px;" style="color: #ced4da!important;">12:55 AM</h6>
                        <h6 class="mt-4" style="font: 13px;">New title</h6>
    
                        <p class="card-text" style="color: #ced4da!important;">Some quick example text to build on the card
                            title and make up the bulk of the
                            card's content.</p>
                    </div>
            </div>
        </div>
    </div>

</div>